*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./assets/background-img.png), linear-gradient(175deg, rgb(82, 82, 82) 45%, rgb(39, 36, 0) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  font-variant: small-caps;
  padding: 20px;
  padding-top: 0px;
  color: #fff;
}

.card {
  background-image: url(./assets/card-img.png), linear-gradient(175deg, rgba(0, 0, 0, 0.267) 0%, rgba(0, 0, 255, 0.185) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 98%;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0px 10px 30px 1px #DC9C1C;
  color: #cacaca;
  font-size: 18px;
  font-variant: small-caps;
  margin: 0 auto;
  max-width: 800px;
  padding: 35px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #F5BC27;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #F5BC27;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #1a1002;
  opacity: 95%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: #9C5E0E;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-out;
  outline: 0.1px solid;
}

.btn:hover {
  background-color: #000000;
  box-shadow: 0px 0px 20px 0px #3D2402 inset;
  border: 0.5px solid #9C5E0E;
  outline-color: #9C5E0E;
  outline-style: initial;
  outline-offset: -15px;
  outline-width: 10px;
  color: #F5BC28;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #F5BC27;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  color: #fff;
  background: radial-gradient(circle, rgba(53,64,105,1) 0%, rgba(4,4,4,0.508935254491018) 0%, rgba(0,0,0,1) 100%);
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
